# ignore all files
*

# except tex and pdf files and images
!*.tex
!*.pdf
!/img
!/img/**

# ignore generated figures
*figure*.pdf

# also include my gsypset.cls and this gitignore file
!gsypset.cls
!.gitignore
